body
{
    background-color: blueviolet;
    font-family: "BrainFish", sans-serif;
}

@font-face
{
    font-family: "BrainFish";
    src: url('Police/Brainfish_PersonalUseOnly.ttf');
}

h1
{
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
}
#img {
    text-align: center;
    margin-bottom: 100px;
}
p
{
	text-align: center;
	font-size:30px;
}
#svg
{
	text-align:center;
	width:300px;
	height:100px;
	margin:0 auto;
}
#svg img
{
	width:3 em;
	height:3 em;
	margin-left:130px;
}


form
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: center;
}

fieldset
{
    border-color: black;
}
#bonjour
{
    font-size: 30px;
}

#header
{
    font-size: 20px;
}
#button
{
    background-color: white;
    border-radius: 50px;
    font-size: 50px;
    margin-top: 10px;
    font-family: "BrainFish", sans-serif;
    border-color: black;
}
#input_password
{
    margin-right: 63px;
}

#div_script
{
	text-align:center;
	font-size:50px;
       	border: 5px solid black;
	margin-left:35%;
	margin-right:35%;
	background-color: white;
	border-radius:500px;
}
#submit
{
	p
	q
	margin-bottom:px;
}
#submit1
{	
	margin-bottom:10px;
}
